body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    text-align: center;
    padding: 1em;
}


.logocentral img{
   max-width: 100%;
   height: auto;
   text-align: center;
   justify-content: center;
   align-items: center;
   padding: 1%;
   color: transparent;
   opacity: 0.8;
}
.textinho h2 {
    font-size: 2em;
    color: #333;
    margin-top: 20px;
}

.traco{
    border: 1px solid gray;
}

.texto-apresentacao{ 
    border-radius: 10%;
}


.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-body {
    text-align: center;
    border: 4px solid azure;
    background: linear-gradient(to right, white, rgb(248, 245, 245));
}

.card-btn {
    margin-top: 20px;
    border-radius: 8%;

}
.custom-input input {
    width: 80%; 
    margin: 0 auto; 
    border-radius: 8%;
}

#calculadoraCard{
    color: 1px salmon;
    opacity: 0.7;
    background: linear-gradient(aqua, green);

}